<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Abortion Statistics</title>
  <link rel="stylesheet" href="https:maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>

<body>
  <div class="container" style="background-color:#E6EDf5">
         <div class="title" style="color:#7f30bb" >
            <h1 style="text-align:center"><strong>Abortion statistics in the United States</strong></h1>
         </div>
           <div class="jumbotron text-center" style="background-image: url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fnews.trust.org%2FcontentAsset%2Fimage%2Fb5d48909-79c3-4f26-a262-ef28e9c40a08%2Fimage%2FResize%2CJpeg%2Fjpeg_q%2Fresize_w%2F1000);   
           background-repeat: no-repeat; background-origin: content-box;">
             <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
           </div>
       <div class="row">
      <div class="col">
        <h3 style="text-align:left"> <strong>Update Statistics</strong></h3>
        <p style="text-align:left">..............</p>
      </div>
     </div>

    <div class="row">
    
      <div class="col-md-6">
        <h4> <strong>NationalAndStatePregnancy_PublicUse</strong></h4>
        <table class="table table-bordered border-primary">{{listings.html_NationalAndStatePregnancy_PublicUse|safe}}</table>
        
        <style>
          tr:nth-child(even) {
            background-color: #E5E7E9;
          }
          tr:nth-child(odd) {
            background-color: #F8F9F9;
          }
          </style>

      </div>
      </div>
     

       <div class="row">
         <div class="col text-center">
           <h3 style="text-align:left"> <strong>data charts and graphs</strong></h3>
         </div>
       </div>
       
      <footer>
      <div class="footer"> 
  
      </div>
    </footer>

</body>

</html>