/* .jumbotron{
    background-image: url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fnews.trust.org%2FcontentAsset%2Fimage%2Fb5d48909-79c3-4f26-a262-ef28e9c40a08%2Fimage%2FResize%2CJpeg%2Fjpeg_q%2Fresize_w%2F1000) ;
    background-size: cover; 
    height: 100%;
    width: 100%;
} */